@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfcfc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color:#E8E8E4;
  position: relative;
}

.navigationButton {
  color: black;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: none;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 10px;
}

.navigationButton::before {
  margin-left: auto;
}

.navigationButton::after, .navigationButton::before {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  transition: 0.5s;
}

.navigationButton:hover::after, .navigationButton:hover::before {
  width: 100%;
}

.menu-icon {
  display: none;
}

.loginButton {
  background: none;
  border: 2px solid #fff;
  color: #131313;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s;
  border-radius: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #FEC89A;
  box-shadow: 0 2px 0 2px #000;
  margin-left: 10px;
  margin-top: 8px;
  padding:2px;
  border-radius: 10px;
 }
 
 .loginButton:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 120%;
  background-color: #FAE1DD;
  top: 50%;
  transform: skewX(30deg) translate(-150%, -50%);
  transition: all 0.5s;
 }
 
 .loginButton:hover {
  background-color: #4cc9f0;
  color: #fff;
  box-shadow: 0 2px 0 2px #0d3b66;
 }
 
 .loginButton:hover::before {
  transform: skewX(30deg) translate(150%, -50%);
  transition-delay: 0.1s;
 }
 
 .loginButton:active {
  transform: scale(0.9);
 }

.nav-elements {
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
  margin-top: 15px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #264653;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #D4A373;
  font-weight: 500;
  position: relative;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color:#E8E8E4;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
    z-index: 1;
    background-color:#E8E8E4;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-top: 5px;
  }
}